extend dashboard 

mixin appointmentCard(serial,userName,doctorName,date,schedule,fee,status,userRole,appointmentId,prescription,symptoms)
    tr
        td
            label= `${serial}.`
        td= userName
        td= doctorName
        td= date
        td= schedule
        td= `${fee} TK`
        td
            if userRole=='doctor'
                if prescription
                    button.prsView(onclick=`window.location.href="/prescription/${prescription}"`) View 
                else 
                    button.prsView#addPrescriptionBtn(data-appointmentId=appointmentId data-symptoms=symptoms) Add 
            else
                select#ps.paymentStatus(name='status' data-role=userRole,data-appointmentId=appointmentId)
                    if(status==true)
                        option(value='1' selected) Paid
                        option(value='0') Unpaid
                    else 
                        option(value='1') Paid
                        option(value='0' selected) Unpaid
block right 
    .right-info-all
        table#table
            tbody
                tr
                    th(style='width:6%') Serial
                    th(style='width:20%') Patient Name
                    th(style='width:20%') Doctor Name
                    th(style='width:14%') Date
                    th(style='width:14%') Schedule
                    th(style='width:8%') Fees
                    if user.role=='doctor'
                        th(style='width:13%') Add Prescription
                    else 
                        th(style='width:13%') Payment Status
                each el in appointments
                    +appointmentCard(el.serial,el.user.name,el.doctor.name,`${el.schedule.day.slice(0,-3)},${el.date.toJSON().slice(0,10).split('-').reverse().join('/')}`,`${el.schedule.startTime} - ${el.schedule.endTime}`,el.doctor.fee,el.isPaid,user.role,el.id,el.prescription,el.symptoms)
