extends base

block content 
    section.doctorDetails(data-doctor=`${doctor._id}` data-user=user?`${user._id}`:'')
        .doctor
            img.img(src=`../../../img/user/${doctor.photo}` alt=doctor.name)
            .nameLine
                p.name= doctor.name
                p= doctor.rating
                img(src="../../../img/icons/Star 1.png" alt="")

            p= `${doctor.experience} years experience overall`
            h4.space1= doctor.specialty
            .nameLine2
                img.space1(src="../../../img/icons/hospital.png" alt="")
                p.space1= doctor.hospital.name


        .doctorInfo
            .appointment-details
                .appoint-form
                    h1 Book Appointment
                    .input
                        label(for="Date") Date 
                        br
                        input(type="date" name="" id="dateInput")

                    .input
                        label(for="Time") Time
                        br
                        select(name="" id="timeRangeSelect")
                            each tt in timeRange
                                option(value=`${tt}`)= tt

                    .input
                        label(for="Symptoms") Symptoms
                        br
                        textarea(name="" id="" class="symptom")

                    button.bookbtn Continue to Booking

            hr

            .book-details
                .timing
                    each schedule in doctor.availability
                        h4= schedule.day
                        p= `${schedule.startTime} - ${schedule.endTime}`
                div
                    h3 Consultation Fee
                    h4.feeClass= `${doctor.fee}TK`

                hr.vLine
                .wReview
                    h3 Rate & Review
                    .rate
                        input(type="radio" id="star5" name="rate" value="5" )
                        label(for="star5" title="text")
                        input(type="radio" id="star4" name="rate" value="4")
                        label(for="star4" title="text")
                        input(type="radio" id="star3" name="rate" value="3")
                        label(for="star3" title="text")
                        input(type="radio" id="star2" name="rate" value="2")
                        label(for="star2" title="text")
                        input(type="radio" id="star1" name="rate" value="1")
                        label(for="star1" title="text")
                    div
                        textarea(type="text" placeholder="Write a Review")
                        p
                            button.button1 Add Review
                div
                    p.stories User Stories(189)

    .history3
        div
            h2 Can't Find The Right Doctor?
            h3 Get Free Expert Consultation to Find The Right Doctor For You
            h2
                i.fa.fa-phone(aria-hidden="true")= `\u00A0 Call Now : ${doctor.hospital.phone}`
        div
            img(src="../../../img/dashboard/receptionist.png" alt="")
