extend base 

block content 
    section.doctorDetails
        .doctor
            img.img(src=`../../../img/user/${doctor.photo}` alt=doctor.name)
            .nameLine
                p.name= doctor.name
                p= doctor.rating
                img(src="../../../img/icons/Star 1.png" alt="")

            p= `${doctor.experience} years experience overall`
            h4.space1= doctor.specialty
            .nameLine2
                img.space1(src="../../../img/icons/hospital.png" alt="")
                p.space1= doctor.hospital.name

            div
                button.appointment(onclick=`window.location.href='${doctor._id}/appointment'`) Book Now

        .doctorInfo
            h2 Education
            each edu in doctor.education 
                i.fa.fa-graduation-cap(aria-hidden="true")
                    span= edu

            h2 Training
            each train in doctor.training
                i.fa.fa-graduation-cap(aria-hidden="true") 
                    span= train
            hr

            .book-details
                .timing
                    each schedule in doctor.availability
                        h4= schedule.day
                        p= `${schedule.startTime} - ${schedule.endTime}`

                div
                    h3 Consultation Fee
                    h4= `${doctor.fee}TK`

                hr.vLine
                .wReview
                    h3 Rate & Review
                    .rate
                        input(type="radio" id="star5" name="rate" value="5" )
                        label(for="star5" title="text")
                        input(type="radio" id="star4" name="rate" value="4")
                        label(for="star4" title="text")
                        input(type="radio" id="star3" name="rate" value="3")
                        label(for="star3" title="text")
                        input(type="radio" id="star2" name="rate" value="2")
                        label(for="star2" title="text")
                        input(type="radio" id="star1" name="rate" value="1")
                        label(for="star1" title="text")
                    div
                        textarea#reviewText(type="text" placeholder="Write a Review")
                        p
                            button.button1#addReviewBtn(data-patient=user?user.id:'' data-doctor=doctor.id) Add Review
                div
                    p.stories(onclick=`window.location.href='${doctor._id}/reviews'`)= `User Stories(${doctor.ratingsQuantity})`