extend dashboard 

mixin historyCard(serial,userName,doctorName,date,symptoms,prescriptionId)
    tr
        td
            label= `${serial}.`
        td= userName
        td= doctorName
        td= date
        td= symptoms
        td
            button.prsView(onclick=`window.location.href="/prescription/${prescriptionId}"`) View

block right
    .right-info-all
        table#table
            tbody
                tr
                    th(style='width:6%') Serial
                    th(style='width:22%') Patient Name
                    th(style='width:22%') Doctor Name
                    th(style='width:16%') Date
                    th(style='width:16%') Symptoms
                    th(style='width:13%') Prescription
                each pres in prescriptions
                    +historyCard(pres.appointment.serial,pres.appointment.user.name,pres.appointment.doctor.name,`${pres.appointment.schedule.day.slice(0,-3)},${pres.appointment.date.toJSON().slice(0,10).split('-').reverse().join('/')}`,pres.appointment.symptoms,pres.id)
