extend dashboard 

mixin doctorCard(img_src,name,rating,speciality,numOfReviews,hospitalImg,hospitalName,docId)
    .checkup.checkupResize
        img.img(src=`../../../img/user/${img_src}` alt="" onclick=`window.location.href='doctors/${docId}'`)
        .line1
            p.name= name
            p= rating
            img(src="../../../img/icons/Star 1.png" alt="")
        .line2
            p= speciality
            p (32)
        .line3(style={'justify-content':'normal'})
            img(src=`../../../img/icons/${hospitalImg}` alt="")
            p(style={'margin-right':'0px','margin-left':'10px'})= hospitalName
        .line4
            button.view(onclick=`window.location.href='../../../doctors/${docId}'`) View Profile
            button.book(onclick=`window.location.href='../../../doctors/${docId}/appointment'`) Book Now


block right 
    .right-info-all
        section.allDoctor
            section#mid-upContent
                p.mid-p North Bengal Medical College Hospital
                p.bottom-p Have a look at our best doctors from the registered Hospitals
                .content-combo
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    +doctorCard('default.jpg','Dr. Imtiaz Mahbub',4.9,'Phaco Surgeon',32,'hospital.png','Eye Hospital','64674a34bf92a1de2914206b')
                    