extends base

mixin doctorCard(img_src,name,rating,speciality,numOfReviews,hospitalImg,hospitalName)
    .checkup
        img.img(src=`img/doctor/${img_src}` alt="")
        .line1
            p.rate= name
            p= rating
            img(src="img/icons/Star 1.png" alt="")
        .line2
            p= speciality
            p (32)
        .line3(style={'justify-content':'normal'})
            img(src=`img/icons/${hospitalImg}` alt="")
            p(style={'margin-right':'0px','margin-left':'10px'})= hospitalName
        .line4
            button.view View Profile
            button.book Book Now

mixin hospitalCard(hospitalImg,hospitalName,district)
    .hospital
        img(src=`img/hospital/${hospitalImg}` alt="hospital")
        p.head= hospitalName
        p.desc= district
        button #[img(src="img/icons/locate.png" alt="")] Get Direction

mixin specialityCard(img_src,speciality,description)
    .checkup
        img(src=`img/speciality/${img_src}` alt="")
        p.head= speciality
        p.desc= description

block content
    section#hero
        img(src="img/left1.png" alt="")
        div
            p Book Your #[span(style="color: #7F56D9;") Next Doctors] Appointment                   
        img(src="img/right1.png" alt="")

    section#search-container(style={height:'100px'})
        include searchBar 

    section#mid-container
        p.top-p How it works
        p.mid-p Three steps to complete your health checkup
        p.bottom-p Follow these steps and complete your health checkup with the best doctors
        .checkup-combo
            .checkup
                img(src="img/icons/search.png" alt="")
                p.head Search Doctors
                p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.
            .checkup
                img(src="img/icons/book.png" alt="")
                p.head Book Appointment
                p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.
            .checkup
                img(src="img/icons/consult.png" alt="")
                p.head Consult With Doctors
                p.desc MEDIHUB gives you the full picture of a doctor’s qualifications, including clinical experience, hospital quality measures, and patient feedback.

    section#mid-container
        p.top-p Specialty
        p.mid-p Book your nearest available doctors by specialty
        p.bottom-p Book your nearest available doctors
        .checkup-combo
            +specialityCard('dentist.jpg','Dentist','MEDIHUB provides the most accurate, comprehensive information.')
            +specialityCard('internalmedicine.jpg','Internal Medicine','MEDIHUB provides the most accurate, comprehensive information.')
            +specialityCard('cardiology.jpg','Cardiology','MEDIHUB provides the most accurate, comprehensive information.')
            +specialityCard('orthopedic.jpg','Orthopedic','MEDIHUB provides the most accurate, comprehensive information.')
        #morebtn
            button.morebtn More

    section#mid-container
        p.top-p Doctors
        p.mid-p Best doctor’s from the best hospitals
        p.bottom-p Have a look at our best doctors from the registered Hospitals
        .checkup-combo
            each doc in doctors 
                +doctorCard('image1.jpg',doc.name,doc.rating,doc.speciality,32,'hospital.png',doc.hospital.name)
        #morebtn
            button.morebtn More

    section#mid-container
        p.top-p Hospitals
        p.mid-p Explore your nearest hospitals
        p.bottom-p Book your nearest available doctors
        .checkup-combo
            +hospitalCard('hospital1.jpg','Shishu Hospital','Agrabad')
            +hospitalCard('hospital2.jpg','Bandar Hospital','Bandar')
            +hospitalCard('hospital3.jpg','Halishahor hospital','Halishahor')
            +hospitalCard('hospital4.jpg','Agrbad Medical','Agrabad')
        #morebtn
            button.morebtn More

    section#mid-container
        p.top-p Hospital Registration
        p.mid-p Register now to get a fully functional #[br] ecosystem for your hospital
        p.bottom-p Register for free and manage your hospital functionality with a smooth and meaningful experience
        .checkup-combo
            .subscription
                img(src="img/icons/set.png" alt="")
                p.desc Set up your hospital details and pay monthly subscription fee.
            .subscription
                img(src="img/icons/tell.png" alt="")
                p.desc Tell the doctors to register themselves under your hospital.
            .subscription
                img(src="img/icons/manage.png" alt="")
                p.desc Manage your patients details individually by a patient profile.

    section#mid-container
        p.top-p Blogs
        p.mid-p Our Recent Blogs
        p.bottom-p Get more knowledge about your health from our blogs.
        .checkup-combo
            .blog-left
                .left-top
                    img(src="img/food.jpg" alt="")
                    div
                        time November 16, 2022
                        h4 Choose Your Diet Correctly
                        p Eating a wide variety of nutritious foods, including fruit, vegetables, nuts, seeds, and lean protein can help support your overall health.
                        button.btn1 Diet
                .left-top
                    img(src="img/teeth.jpg" alt="")
                    div
                        time September 24, 2022
                        h4 See The Dentist
                        p The best practices for healthy teeth and gums include regular brushing, flossing, and avoiding certain types of food and beverage.
                        button.btn1 Teeth
                        button.btn2 Health
            .blog-right
                img(src="img/body.jpg" alt="")
                br
                time March 13, 2022
                h2 Three Ways To Keep Your Body Healthy
                p A healthy body is maintained by good nutrition, regular exercise, avoiding harmful habits, making informed and responsible decisions about health, and seeking medical assistance when necessary.
                button.btn2 Health
                button.btn1 Fitness
        #morebtn
            button.morebtn More
        .footerSpace 