mixin prescriptionCard(serial,name,morning,noon,night,takingTime)
    tr.prescription
        td= `${serial}.`
        td
            input(type='test' name='med_name' placeholder='Insert Medicine name' id='nameInput' required='' value=name)
        td
            input.mTime(type='number' name='' id='morningInput' value=morning)
        td
            input.mTime(type='number' name='' id='noonInput' value=noon)
        td
            input.mTime(type='number' name='' id='nightInput' value=night)
        td 
            select#time.takingTimeInput(name='time' required='')
                option(value='selectOne' selected=takingTime=='selectOne') Select One
                option(value='beforeMeal' selected=takingTime=='beforeMeal') Before Meal
                option(value='afterMeal' selected=takingTime=='afterMeal') After Meal

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MediHub | #{title}
        link(rel="icon" type="image/x-icon" href="../../../../img/icons/favicon.png")
        link(rel="stylesheet" href="../../../css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    body
        section.presMain
            .presContent
                section.presTop
                    .leftHead
                        h2= prescription.appointment.doctor.hospital.name
                        p= `${prescription.appointment.doctor.hospital.address.street}, ${prescription.appointment.doctor.hospital.address.city}-${prescription.appointment.doctor.hospital.address.zipCode}`
                        p
                            i.fa.fa-phone(aria-hidden='true')= `\u00A0\u00A0${prescription.appointment.doctor.hospital.phone}`
                        p
                            i.fa.fa-envelope(aria-hidden='true')= `\u00A0\u00A0${prescription.appointment.doctor.hospital.email}`
                    .midHead
                        img.medihub(src='../../../img/icons/groupicon.png' alt='')
                    .rightHead
                        h2= prescription.appointment.doctor.name
                        p= prescription.appointment.doctor.specialty
                        p MBBS, FCPS , MRCP (UK)
                .flex1.border1
                    p= `Patient Name : ${prescription.appointment.user.name}`
                    p= `Age : ${prescription.appointment.user.age}`
                    p= `Gender : ${prescription.appointment.user.gender}`
                    p= `${prescription.createdAt.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric' })}`
                section.presMid
                    .leftMid
                        h3 Symptoms
                        textarea#textarea1.symptomInput(name='sy')= prescription.symptoms
                        h3 Tests
                        textarea#textarea1.testInput(name='sy')= prescription.tests
                        h3 Advices
                        textarea#textarea1.adviceInput(name='sy')=  prescription.advices
                    hr
                    .rightMid
                        table#table
                            tbody#tableBody
                                tr
                                    th No.
                                    th Name of Medicine
                                    th Morning
                                    th Noon
                                    th Night
                                    th Taken Timing
                                each medic,index in prescription.medicine
                                    +prescriptionCard(index+1,medic.name,medic.morning,medic.noon,medic.night,medic.takingTime)

                        if user.role=='doctor'
                            button.addButton#medicineAddBtn Add Medicine
                .border1.flex1(style='height:40px')
                    h5 &copy; 2022 MediHUB. All rights reserved.
                    if user.role=='doctor'
                        button.button#prescriptionSaveBtn Save
                    button.button Download
        script(src='../../../dist/index.js')