extend dashboard 

mixin scheduleCard(name,startTime,endTime)
    .scheduleCard.flex2
        h3.dayHead= `${name}:`
        label(for='') Start:
        input#startTimeInput.timeInput(type='time' name='' value=startTime)
        label(for='') End:
        input#endTimeInput.timeInput(type='time' name='' value=endTime)


block right 
    .right-info
        .right-info-left
            .doctor
                img#imgResize.img(src=`../../../img/user/${user.photo}` alt=user.name)
                .nameLine
                    p.name= user.name
                    p= `${user.rating} \u00A0`
                    img(src='../../../img/icons/Star 1.png' alt='')
                p= `${user.experience} years experience overall`
                h4.space1= user.specialty
                .nameLine2
                    img.space1(src='../../../img/icons/hospital.png' alt='')
                    p.space1= user.hospital.name
        .right-info-right
            h2(style='color:#514f54') Add Schedule
            each el in schedule
                +scheduleCard(el.day,el.startTime,el.endTime)